*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mb-2{
    background-color: rgb(126, 13, 13);
    margin-right: 20px;
}
Card{
    margin-right: 20px;
    background-color: rgb(126, 13, 13);
}
.resetButton{
    height:30px;
    margin-left: -50px;
    margin-top: 2.8px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
    background-color: grey;
    color: white;
}
.resetButton:hover{
    background-color: black;
   
}
.covidcheckerhorizontal{
    height: 3px;
   text-align: center;
    background-color: rgb(126, 13, 13);
    margin: 0 auto;
    width: 280px;
}